@import 'styles/variables';


// Backgrounds
$body-bg: #f8f9fa;
$light-blue-bg: #e0f7fa;
$table-header-bg: #007bff;

// Headings & Text
$heading-color: #007bff;
$table-header-text: #ffffff;
$text-muted: #6c757d;

// Input Fields
$input-border: #ced4da;
$input-focus-border: #007bff;

// Buttons
$button-primary-bg: #007bff;
$button-submit-bg: #28a745;
$button-submit-border: #28a745;
$button-submit-hover-bg: #218838;
$button-submit-hover-border: #1e7e34;

$button-danger-hover-bg: #c82333;

// header row
$hr-border: #6c757d;
