:host {
  display: block;
  padding: 1.5rem;
  background-color: #f5f7fa;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 8px;
}

h2 {
  color: #1976d2;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type='text'] {
  padding: 0.5rem;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 16px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  margin-left: 0.25rem;
  border: none;
  border-radius: 5px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #125aa3;
  }
}

ul {
  margin-top: 1.5rem;
  padding-left: 0;
  list-style-type: none;

  li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin-left: 10px;
    }
  }
}

p {
  font-style: italic;
  color: #888;
}

