@import "bootstrap/scss/bootstrap";
/* styles.scss */

body {
  margin: 0;
  padding: 0;
  background-color: burlywood; // ✅ Light background for whole app
  color:black;
  font-family: 'Segoe UI', sans-serif;
}


